body {
 background-color:#FFF;
 font:.6875em Verdana, Arial, Helvetica, sans-serif;
 color:#000;
}

div.hidden
{
  display: none;
}

div.cmd-label
{
  font-size: 2em;
  text-align: center;
  width: 640px;
}

div.cmd-graph
{
  width: 640px;
  height: 240px;
}

div.cmd-overview
{
  margin-top:20px;
  width: 640px;
  height:50px
}

div.details_hold
{
  width: 16em;
}

.point_details {
  border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  background-color: #333333;
  color: #ffffff;
  padding: 0.3em;
  position: relative;
  margin: 0.5em;
}

div.tooltip
{
  position: absolute;
}
#tooltip a:link, #tooltip a:active, #tooltip a:visited {
  color:#FFF;
  text-decoration: underline;
}
#tooltip a:hover {
  color:#FFF;
  text-decoration: none;
}
