body {
 background-color:#FFF;
 font:.6875em Verdana, Arial, Helvetica, sans-serif;
 color:#000;
}

div.cmd-label
{
  font-size: 2em;
  text-align: center;
  width: 640px;
}

div.cmd-graph
{
  width: 640px;
  height: 240px;
}

#tooltip {
  -moz-border-radius:.35em;
  -webkit-border-radius:.35em;
  background-color:#000;
  color:#FFF;
  display:none;
  opacity:0.8;
  padding:.25em;
  position:absolute;
}
#tooltip a:link, #tooltip a:active, #tooltip a:visited {
  color:#FFF;
  text-decoration: underline;
}
#tooltip a:hover {
  color:#FFF;
  text-decoration: none;
}
