<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
 <title>isparrotfastyet</title>
 <link rel="stylesheet" title="Default Stylesheet" type="text/css" href="static/style.css">
  [% USE date(format = '%b-%d-%Y') # %H:%M:%S') %]
  [% MACRO round(n, p) PERL %]
    my $n = $stash->get('n');
    my $p = $stash->get('p') || 1;
    $n = int( $n * $p ) / $p;
    print $n;
  [% END %]
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.js"></script>
  <script type="text/javascript" src="static/flot/jquery.flot.js"></script>
  <!--[if IE]><script type="text/javascript" src="static/excanvas.compiled.js"></script><![endif]-->
</head>
<body>
 <div id="graph-container">
  [% WHILE (cmd = cmd_rs.next) %]
  [% PERL %]
    my $cmd = $stash->get("cmd");
    $stash->set("result_rows", [$cmd->bench_results_rs->search(
      {
      }, {
        order_by => "revision_stamp desc",
        rows => 20,
        '+select' => [{max => 'submit_stamp', '-as' => 'max_submit_stamp'}],
        #distinct => 1,
        group_by => [qw/revision/],
        having => {submit_stamp => \"= max_submit_stamp"},
      })->all]
    );
  [% END %]
  [% result_rows = result_rows.reverse %]
  <div class="cmd-label">[% cmd.name %]</div>
  <div id="[% cmd.id %]">
  [% last_speed = undef %]
  <!-- [% result_rows.size %] -->
  <div class="details_hold">
  [%~ FOREACH result IN result_rows ~%]
    <div class="point_details">
      Speed: <span class="speed">[% round(result.avg_time, 1000) %]</span>s
      <br/>
      [% IF last_speed %]
        [% delta = last_speed - result.avg_time %]
        &Delta; <span class="delta">[% round(delta, 1000) %]</span>s
        [% percent = round(((delta / last_speed) * 100), 100) %]
        [% IF percent >= 0 %]
        (<span class='percent'>[% percent %]</span>% Better)
        [% ELSE %]
        (<span class='percent'>[% 0-percent %]</span>% Worse)
        [% END %]
        <br/>
      [% END %]
      [% last_speed = result.avg_time %]
      Revision <span class="revision">[% result.revision.substr(0,8) %]</span>
      [% IF result.revision_aka.defined %]
      (<span class='rev_aka'>[% result.revision_aka %]</span>)
      [% END %]
      <br/>
      Dated <span class='rev_date'>[% date.format(result.revision_stamp) %]</span>
    </div>
  [%~ END ~%]
  </div>
  [% #CALL result_rs.reset %]
  </div>
  <script type="text/javascript">
    $(function()
    {
      var graph_div = $('#[% cmd.id %]');
      graph_div
        .addClass('cmd-graph')

      var point_details = graph_div.find('div.point_details').detach();

      var data = {
        data: [
          [%~ FOREACH result IN result_rows ~%]
            [ [% result.revision_stamp * 1000 %], [% result.avg_time %] ],
          [%~ END ~%]
        null],
        lines: { show: true },
        points: { show: true },
        hoverable: true,
        clickable: true
      };
      var options =
      {
        yaxis:
        {
          min: 0,
          tickFormatter: function (v, axis) { return Math.floor(v * 1000) + "ms"; }
        },
        xaxis:
        {
          tickFormatter: function (v, axis) { return (new Date(v)).toDateString(); }
        },
        legend:
        {
          show: false
        },
        grid:
        {
          hoverable: true,
          clickable: true
        }
      };
      $.plot(graph_div, [data], options);

      tooltip = $("<div />")
        .addClass('tooltip')
        .css("opacity", "0.8")
        .appendTo($("body"))

      var previousIndex = null;

      graph_div
        .bind("plothover", function(e, pos, item)
        {
          if (item)
          {
            if (previousIndex != item.dataIndex)
            {
              previousIndex = item.dataIndex;

              tooltip
                .stop(true, true)
                .hide()
                .empty()
                .append(point_details.eq(item.dataIndex).clone())
                .css({
                  "top": item.pageY,
                  "left": item.pageX
                })
                .fadeIn()
            }
          }
          else
          {
            if (previousIndex != null)
            {
              tooltip
                .fadeOut("slow");
              previousIndex = null;            
            }
          }
        })
    });
  </script>
  [% END %]

</body>
</html>

[%~ # vim:set filetype=xhtml: %]
