<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
 <title>isparrotfastyet</title>
 <link rel="stylesheet" title="Default Stylesheet" type="text/css" href="static/style.css">
  [% USE date(format = '%b-%d-%Y') # %H:%M:%S') %]
  [% MACRO round(n, p) PERL %]
    my $n = $stash->get('n');
    my $p = $stash->get('p') || 1;
    $n = int( $n * $p ) / $p;
    print $n;
  [% END %]
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.js"></script>
  <script type="text/javascript" src="static/flot/jquery.flot.min.js"></script>
  <script type="text/javascript" src="static/flot/jquery.flot.selection.min.js"></script>
  <!--[if IE]><script type="text/javascript" src="static/excanvas.compiled.js"></script><![endif]-->
</head>
<body>
 <div id="graph-container">
  [% WHILE (cmd = cmd_rs.next) %]
  [% IF !results_by_cmd.exists(cmd.bench_cmd_id); NEXT; END %]

  <div class="cmd-label">[% cmd.name %]</div>
  <div id="[% cmd.id %]">
    [% last_speed = undef %]
    [% last_stamp = undef %]
    <div class="details_hold">
    [%~ FOREACH result IN
        results_by_cmd.item(cmd.bench_cmd_id).sort('revision_stamp') %]
      <div class="point_details">
        Speed: <span class="speed">[% round(result.avg_time, 1000) %]</span>s
        <br/>
        [% FILTER collapse %]
        [% IF last_speed %]
          [% delta = last_speed - result.avg_time %]
          &Delta; <span class="delta">[% round(delta, 1000) %]</span>s
          [% percent = round(((delta / last_speed) * 100), 100) %]
          [% IF percent >= 0 %]
          (<span class='percent'>[% percent %]</span>% Better)
          [% ELSE %]
          (<span class='percent'>[% 0-percent %]</span>% Worse)
          [% END %]
          <br/>
        [% END %]
        [% last_speed = result.avg_time %]
        [% END %]
        Revision <span class="revision">[% result.revision.substr(0,8) %]</span>
        [% IF result.revision_aka.defined ~%]
        (<span class='rev_aka'>[% result.revision_aka %]</span>)
        [%~ END %]
        <br/>
        Dated <span class='rev_date'>[% date.format(result.revision_stamp) %]</span>
        <span class='rev_stamp hidden'>[% result.revision_stamp %]</span>
      </div>
      [% last_stamp = result.revision_stamp %]
    [%~ END ~%]
    </div>
  </div>
  <div id="[% cmd.id %]_overview"></div>
  <script type="text/javascript">
    $(function()
    {
      var graph_div = $('#[% cmd.id %]');
      var overview_div = $('#[% cmd.id %]_overview');

      graph_div
        .addClass('cmd-graph')

      overview_div
        .addClass('cmd-overview')

      var dataset = [];

      var point_details = graph_div.find('div.point_details').detach();

      point_details
        .each(function(i)
        {
          var $this = $(this)
          dataset.push([
            $this
              .find('.rev_stamp')
              .text() * 1000
            ,
            $this
              .find('.speed')
              .text()
          ])
        })

      var data = {
        data: dataset,
        lines: { show: true },
        points: { show: true },
        hoverable: true,
        clickable: true
      };
      var options =
      {
        series:
        {
          points: { show: true },
          lines: { show: true }
        },
        yaxis:
        {
          min: 0,
          tickFormatter: function (v, axis) { return Math.floor(v * 1000) + "ms"; }
        },
        xaxis:
        {
          min: [% (last_stamp - 60 * 24 * 60 * 60) * 1000 %],
          max: [% last_stamp * 1000 %],
          tickFormatter: function (v, axis) { return (new Date(v)).toDateString(); }
        },
        legend:
        {
          show: false
        },
        grid:
        {
          hoverable: true,
          clickable: true
        }
      };
      var plot = $.plot(graph_div, [data], options);

      var overview = $.plot(overview_div, [data],
        {
          series:
          {
            points: { show: false },
            lines: { show: true, lineWidth: 1 },
            shadowSize: 0
          },
          xaxis: { ticks: [], mode: "time" },
          yaxis: { ticks: [], min: 0, autoscaleMargin: 0.1 },
          selection: { mode: "x" }
        }
      )

      graph_div
        .bind("plotselected", function (event, ranges) {
          // do the zooming
          plot = $.plot(graph_div, [dataset],
            $.extend(true, {}, options, {
              xaxis: { min: ranges.xaxis.from, max: ranges.xaxis.to }
            })
          );

        // don't fire event on the overview to prevent eternal loop
        overview.setSelection(ranges, true);
    });
    
    overview_div
    .bind("plotselected", function (event, ranges) {
        plot.setSelection(ranges);
    });

      tooltip = $("<div />")
        .addClass('tooltip')
        .css("opacity", "0.8")
        .appendTo($("body"))

      var previousIndex = null;

      graph_div
        .bind("plothover", function(e, pos, item)
        {
          if (item)
          {
            if (previousIndex != item.dataIndex)
            {
              previousIndex = item.dataIndex;

              tooltip
                .stop(true, true)
                .hide()
                .empty()
                .append(point_details.eq(item.dataIndex).clone())
                .css({
                  "top": item.pageY,
                  "left": item.pageX
                })
                .fadeIn()
            }
          }
          else
          {
            if (previousIndex != null)
            {
              tooltip
                .fadeOut("slow");
              previousIndex = null;            
            }
          }
        })
    });
  </script>
  [% END %]

</body>
</html>

[%~ # vim:set filetype=xhtml: %]
